html
	head
		title Generate Key
		link(rel="stylesheet", type="text/css", href="css/style.css")
	body
		div
			h3 Key Generation Successful:

			h5 Your key:
			span= key

			h5 Image link:
			span= link

			h5 Image Code:
			span= code

